<section class="w-full flex justify-center items-center">

    <form [formGroup]="loginForm" class="w-1/4 bg-cyan-500 shadow-lg shadow-cyan-500/50 bg-white shadow-md rounded px-8 pt-6 pb-8 mt-5 " (ngSubmit)="onSubmit()">
        <span class="gilory-medium text-3xl mb-5">Login</span>
                          
        <div class=" mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" >Email address</label>
        
            <input type="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="floatingInput" placeholder="name@example.com" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="inputEmail4">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div class="text-red-500 text-xs italic" *ngIf="f.email.errors.required">Email is required</div>
          <div class="text-red-500 text-xs italic" *ngIf="f.email.errors.email">Email must be a valid email address</div>
       </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
        
        <input type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="floatingPassword" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword4">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div lass="text-red-500 text-xs italic" *ngIf="f.password.errors.required">Password is required</div>
       </div>
      </div>
      <span class="gilory-medium text-xs">* Not signed in ? <a routerLink="/register" class="text-red-500 text-xs italic underline">Register</a>
      </span><br>
      <button type="submit" class="ml-20 rounded-lg bg-white p-2 mt-2 roundedBorder">
        Login
      </button>
    </form>
</section>